@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://raw.githubusercontent.com/saifulmd0/nexa/main/fonts/Nexa-Regular.woff2) format('woff2');
}
