@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Nexa-Thin.otf") format("opentype"), url("../fonts/Nexa-Thin.ttf") format("truetype"), url("../fonts/Nexa-Thin.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Nexa-Thin-Italic.otf") format("opentype"), url("../fonts/Nexa-Thin-Italic.ttf") format("truetype"), url("../fonts/Nexa-Thin-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Nexa-Light.otf") format("opentype"), url("../fonts/Nexa-Light.ttf") format("truetype"), url("../fonts/Nexa-Light.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Nexa-Light-Italic.otf") format("opentype"), url("../fonts/Nexa-Light-Italic.ttf") format("truetype"), url("../fonts/Nexa-Light-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Nexa-Book.otf") format("opentype"), url("../fonts/Nexa-Book.ttf") format("truetype"), url("../fonts/Nexa-Book.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Nexa-Book-Italic.otf") format("opentype"), url("../fonts/Nexa-Book-Italic.ttf") format("truetype"), url("../fonts/Nexa-Book-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nexa-Regular.otf") format("opentype"), url("../fonts/Nexa-Regular.ttf") format("truetype"), url("../fonts/Nexa-Regular.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Nexa-Italic.otf") format("opentype"), url("../fonts/Nexa-Italic.ttf") format("truetype"), url("../fonts/Nexa-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Nexa-Bold.otf") format("opentype"), url("../fonts/Nexa-Bold.ttf") format("truetype"), url("../fonts/Nexa-Bold.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Nexa-Bold-Italic.otf") format("opentype"), url("../fonts/Nexa-Bold-Italic.ttf") format("truetype"), url("../fonts/Nexa-Bold-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nexa-XBold.otf") format("opentype"), url("../fonts/Nexa-XBold.ttf") format("truetype"), url("../fonts/Nexa-XBold.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Nexa-XBold-Italic.otf") format("opentype"), url("../fonts/Nexa-XBold-Italic.ttf") format("truetype"), url("../fonts/Nexa-XBold-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nexa-Heavy.otf") format("opentype"), url("../fonts/Nexa-Heavy.ttf") format("truetype"), url("../fonts/Nexa-Heavy.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Nexa-Heavy-Italic.otf") format("opentype"), url("../fonts/Nexa-Heavy-Italic.ttf") format("truetype"), url("../fonts/Nexa-Heavy-Italic.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Nexa-Black.otf") format("opentype"), url("../fonts/Nexa-Black.ttf") format("truetype"), url("../fonts/Nexa-Black.eot") format("embedded-opentype"); }
@font-face {
  font-family: 'Nexa';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Nexa-Black-Italic.otf") format("opentype"), url("../fonts/Nexa-Black-Italic.ttf") format("truetype"), url("../fonts/Nexa-Black-Italic.eot") format("embedded-opentype"); }
